{
  "parser": "@typescript-eslint/parser",
  "plugins": [
    "@typescript-eslint",
    "@typescript-eslint/eslint-plugin",
    "react",
    "react-hooks",
    "prettier",
    "jest-dom",
    "testing-library"
  ],
  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/eslint-recommended",
    "plugin:@typescript-eslint/recommended",
    "plugin:react/recommended",
    "plugin:react-hooks/recommended",
    "prettier",
    "plugin:prettier/recommended",
    "plugin:testing-library/react",
    "plugin:jest-dom/recommended"
  ],
  "parserOptions": {
    "ecmaVersion": 2020,
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "settings": {
    "react": {
      "pragma": "React",
      "version": "detect"
    },
    "import/resolver": {
      "alias": [
        ["@components/*", "src/components/*"],
        ["@hooks/*", "src/hooks/*"],
        ["@config/*", "src/config/*"],
        ["@pages/*", "src/pages/*"],
        ["@utils/*", "src/utils/*"]
      ]
    }
  },
  "rules": {
    "@typescript-eslint/explicit-module-boundary-types": "off",
    "@typescript-eslint/explicit-function-return-type": "off",
    "@typescript-eslint/no-empty-interface": "off",
    "@typescript-eslint/no-explicit-any": "off",
    "@typescript-eslint/no-unused-vars": "off",
    "@typescript-eslint/no-use-before-define": "off",
    "@typescript-eslint/no-empty-function": "off",
    "@typescript-eslint/indent": "off",
    "@typescript-eslint/array-type": "off",
    "@typescript-eslint/member-delimiter-style": "off",
    "@typescript-eslint/no-var-requires": "off",
    "@typescript-eslint/ban-types": "off",
    "no-param-reassign": "off",
    "no-console": "off",
    "jsx-a11y/no-autofocus": "off",
    "react/forbid-prop-types": "off",
    "import/prefer-default-export": "off",
    "no-underscore-dangle": "off",
    "no-shadow": "off",
    "no-plusplus": "off",
    "spaced-comment": "off",
    "guard-for-in": "off",
    "react/no-danger": "off",
    "react/button-has-type": "off",
    "react/no-unescaped-entities": "off",
    "operator-assignment": "off",
    "prefer-destructuring": "off",
    "react/no-children-prop": "off",
    "consistent-return": "off",
    "react/react-in-jsx-scope": "off",
    "react/state-in-constructor": "off",
    "react/display-name": "off",
    "no-restricted-syntax": "off",
    "no-continue": "off",
    "react/destructuring-assignment": "off",
    "@typescript-eslint/dot-notation": "off",
    "no-bitwise": "off",
    "no-redeclare": "off",
    "@typescript-eslint/naming-convention": "off",
    "import/no-extraneous-dependencies": "off",
    "@typescript-eslint/lines-between-class-members": "off",
    "no-alert": "off",
    "react/jsx-filename-extension": [
      "error",
      { "extensions": [".js", ".tsx"] }
    ],
    "react/jsx-props-no-spreading": "off",
    "react/no-array-index-key": "off",
    "react/require-default-props": "off",
    "react/sort-prop-types": "error",
    "react/prop-types": "off",
    "@typescript-eslint/no-shadow": "off",
    "react-hooks/exhaustive-deps": "error",
    "import/no-named-as-default": "off",
    "testing-library/await-async-query": "error",
    "testing-library/no-await-sync-query": "error",
    "testing-library/no-debug": "off"
  },
  "overrides": [
    {
      "files": ["*.ts", "*.tsx"],
      "parserOptions": {
        "project": ["tsconfig.json"]
      }
    }
  ]
}
