.category {
  margin-right: 10px;
  margin-left: 10px;
  display: flex;
  flex-direction: column;

  .title {
    font-size: 38px;
    font-family: 'Open Sans Condensed', sans-serif;
    margin: 0 auto 30px;
  }
}
.items {
  margin-top: 2em;
  display: grid;
  grid-row-gap: 10px;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}
