.header {
  height: 70px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 55px;

  .logo-container {
    height: 100%;
    width: 70px;
    padding: 15px;
  }

  .options {
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;

    .option {
      padding: 10px 15px;

      &:hover {
        border-bottom: 1px solid black;
        border-width: thick;
      }
    }
  }
}
