.collection-preview {
  display: flex;
  flex-direction: column;

  .title {
    font-size: 28px;
    margin-bottom: 25px;
  }

  .preview {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 10px;
  }
}

.category {
  display: flex;
  flex-direction: column;

  .title {
    font-size: 38px;
    margin: 0 auto 30px;
  }

  .items {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 10px;
  }
}
