.collection-preview {
  display: flex;
  flex-direction: column;

  .link {
    font-size: 26px;
    margin-bottom: 25px;
    display: flex;
    .title {
      margin-top: 10px;
      &:hover {
        border-bottom: 1px solid black;
        border-width: thick;
      }
    }
  }

  .preview {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 10px;
  }
}
