body {
  min-height: 100%;
  padding-bottom: 30px;
  font-family: 'Open Sans Condensed', sans-serif;
  font-weight: 600;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  text-decoration: none;
  color: black;
}
